* {
    box-sizing: border-box;
  }

  /* Style the body*/
body {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400; 
    margin: 0; 
    margin-top: 50px;
    text-align: center;
  }
    
  h1 {
    text-shadow: 10px 10px 10px #DEE8F5;
    color: #9300F4;
    font-family: 'Shrikhand', cursive;
    letter-spacing: 15px;
    font-weight: 100; 
    font-size: 75px;
    text-align: center;
  }
    
  h2 {
    font-weight: 100; 
    font-size: 35px;
    font-family: 'Oi', cursive;
    letter-spacing: 10px;
    color: #9300F4;
    text-shadow: 2px 2px #DEE8F5;
  }
    
  h3 {
    color: #9300F4;
    font-family: 'Notable', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
  }
  
  h5 {
    font-family: 'Fredoka', sans-serif;
    color: white;
  }
    
  ul, li, p {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #DEE8F5;
    font-size: 25px;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }

  /* Style the top navigation bar */
.topnav {
    overflow: hidden;
    
  }
      
  /* Style the navigation bar links */
  .topnav a {
    float: left;
    display: block;
    color: #9300F4;
    text-shadow: 2px 2px #DEE8F5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-shadow: 156px 1px 17px white;
  }
      
  /* Change color on hover */
  .topnav a:hover {
    background-color: #B088D6;
    color: black;
  }
  
  .topnav a.active {
    color: #9300F4;
    text-shadow: 1px 1px 17px white;
  }
  
  .topnav .icon {
    display: none;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 772px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 772px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left; 
    }
}

/* Style the 8-ball */
#content { 
    width: 600px; 
    margin: 0 auto; 
    margin-top: 50px;       
    text-align: center; 
    font-weight: 100;
  }
  
  div.eight-ball {
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  div.answer {
    background-color: #333;
    border: 5px solid #333;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin: 25% auto;
  }
  
  p#eight {
    font-size: 5em;
    font-family: 'Oi', cursive;
    margin: 20% auto;
    color: white;
  }
  
  p#answer {
    padding: 23px;
    font-family: 'Notable', sans-serif;
    color: white;
    letter-spacing: 2px;
    font-size:14px;
  }
  
  #question {
    margin: 10px;
    padding: 10px;
    width: 400px;
    font-size:22px;
  }

  #info {
    font-size: 22px;
    color: white;
  }

  /*box for contact me form*/
form {
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    align-items: center;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 12px;
    color: white;
  }
  
  .col-75 {
    float: right;
    width: 75%;
    margin-top: 12px;
    color: white;
  }

.col-75 span {display:none;}
.col-75.error span{
  display: block;
  font-size: .75rem;
  color: #ee2c2c;
}


    